
<h3>Find a learning buddy near you...</h3>

<p>Explore local meetups related to your lessons to help you take your learning further.</p>

<div class="meetup-cards-container">
  <%json.each do |group| %>
    <%= link_to(group['link'], target: :_blank )do %>
      <div class="meetup-card" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.2)), url('<%= group['key_photo']['photo_link'] %>');">
          <p><%= group['name'] %></p>
      </div>
    <% end %>
  <% end %>
</div>
