<h2>Testing reviews!</h2>
<ul>
<% @lessons.each do |lesson| %>
  <li><%= lesson.name %> <%= lesson.status %></li>
  <%= render 'reviews-form', skill: lesson.skill, review: @review %>
<% end %>
</ul>




