<h4 class= "blue-heading down-heading">My skills</h4>
  <div class="card-container-skill">
    <% @skills.each do |skill|%>
      <%= link_to skill_path(skill) do %>
        <div class="skill-card-profile", >
          <i class="fa fa-grav fa-3x" aria-hidden="true"></i>
          <h3><%= skill.name %></h3>
        </div>
        <% end %>
    <% end %>
  </div>

