
// -----------------------------SEARCH FORM -----------------------------------
.search-form {
  padding: 30px;
}


// -----------------------------LAYOUT/TITLES -----------------------------------
#search-result-message {
 h3 {
  margin: 0 0 20px 0;
  color: gray;
 }
}

// -----------------------------MAP/LIST TOGGLE -----------------------------------

#view-toggle {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;


  .active {
    color: black;
  }

  .inactive {
    color: gray;
  }

  .inactive:hover {
    color: black;
  }

  p:first-child {
    margin-right: 10px;
  }

  p:last-child {
    margin-left: 10px;
  }
}

.map-icon {
  width: 20px;
}

#map-toggle, #list-toggle {
  font-size: 20px;
}

.vertical-line {
    border-left: solid 1px gray;
    height: 30px;
}

// -----------------------------LIST CARD --------------------------------------------

.skill-list {
  margin-top: 20px;
}

.skill-list-card {
  display: flex;
  justify-content: space-around;
  background-color: #F4F4F4;
  margin-right: 250px;
  margin-left: 250px;
  padding: 50px;
  border-radius: 7px;
  box-shadow: 1px 1px 3px #888888;
  margin-bottom: 40px;
}

.end {
  margin-right: auto;
  margin-left: 100px;
}

// -----------------------------JS CLASSES FOR TITLE-----------------------------------


.hide {
  display: none;
}

.show {
  display: block;
}
