
// -----------------------------SEARCH FORM -----------------------------------
.search-form {
  padding: 30px;
}

// -----------------------------MAP/LIST TOGGLE -----------------------------------

#view-toggle {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;


  .active {
    color: black;
  }

  .inactive {
    color: gray;
  }

  .inactive:hover {
    color: black;
  }

  p:first-child {
    margin-right: 5px;
  }

  p:last-child {
    margin-left: 5px;
  }
}


// -----------------------------LIST CARD --------------------------------------------

.skill-list-card {
  display: flex;
  justify-content: space-around;
  background-color: #F4F4F4;
  margin-right: 100px;
  margin-left: 100px;
  padding: 50px;
  border-radius: 7px;
  border: solid 1px gray;
  margin-bottom: 20px;
}

// -----------------------------JS CLASSES FOR TITLE-----------------------------------


.hide {
  display: none;
}

.show {
  display: block;
}
