
.skill-card-profile{
  height: 150px;
  width:150px;
  border: 1px solid;
  border-color: #c9c7c7;
  margin: 40px;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  color: black;
  display: grid;
  grid-template-columns: 48px 48px 48px;
  grid-template-rows: 48px 48px 48px;
  background-color: #f4f4f4;
   h3{
    font-size: 15px;
    grid-column: 1 / 5;
    margin-left: 10px;
    color: #d6d4d4;
  }
}

.card-container-skill{
  display: flex;
}

.skill-card-profile:hover{
    border-color: $torquoise;
    h3, h4{ color: $torquoise;}
    .fa-grav{color: $torquoise;}
    .skill-photo{ opacity: .3;}
  }

.fa-grav{
  color:#d6d4d4;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.card-container-student{
  display: flex;
  h3{ color: #848380; }
  h4{
    font-size: 10px;
    color: #bcbbb7;
    margin: 20px;
  }
}


.skill-photo{
  margin: 15px;
  opacity: .9;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

.down-heading{
  padding: 12px;
  }

@media screen and (max-width: 780px){

  .card-container-student {
    display: grid;
  }

  .card-container-skill {
    display: grid;
  }
}
