<div class="reviews-title">
  <h4>Reviews</h4>

  </div>

  <% if reviews.empty? %>
    <p> No reviews yet!</p>
  <% else %>
    <ul>
      <% reviews.each do |review| %>
      <div class="individual-review">
        <span class="review-inline"><p class="review-name"><%= review.student.name %>,</p>
          <p class="review-date"><%= review.created_at.strftime("%A, %b %d") %></p>
        </span>
        <% "#{review.rating}".to_i.times do %>
              <i class="fa fa-star" aria-hidden="true"></i>
              <% end %>
        <p class="review-comment"><%= review.comment %></p>
        </div>
      <% end %>
    </ul>
  <% end %>

