<p id="notice"><%= notice %></p>
<div class="container">
  <h1 class="text-center">Find a local teacher</h1>
   <form action="" class="form-inline text-center search-form">
      <input name="search" class="form-control search" placeholder="I am learning...">
      <input name="search" class="form-control search" placeholder="Where?">
     <input type="submit" value="Search" class="btn btn-primary">
     </form>
</div>

<div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
  <script>
    const handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function() {
      markers = handler.addMarkers(<%= raw @markers.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
  });
  </script>
<% end %>
