<!-- <p id="notice"><%= notice %></p> -->
<div class="wrapper-white">
<div class="container">
  <h1 class="text-center">Find a local teacher</h1>
   <form action=<%= skills_path %> method='get', class="form-inline text-center search-form">
      <input name="skill" id="skill" class="form-control search" placeholder="I am learning..." >
      <input name="location" id="location" class="form-control search" placeholder="Where?">
     <input type="submit" id="search" value="Search" class="btn btn-primary">
     </form>
      <span id=view-toggle> <p id="map-toggle" class="active">Map</p>|<p id="list-toggle" class="inactive">List</p></span>
</div>

<div id="search-result-message">
</div>


<div id="map" style="width: 100%; height: 600px;"></div>
<div id="list"></div>
</div>


<% content_for(:after_js) do %>
  <script>
    const handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function() {
      markers = handler.addMarkers(<%= raw @markers.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
  });

    // JS for toggling map

    const mapToggle = document.getElementById('map-toggle');
    const listToggle = document.getElementById('list-toggle');
    const map = document.getElementById('map');
    const list = document.getElementById('list');

    const renderList = (event) => {
      document.getElementById("list").innerHTML = '<%= j render "skill-list",skills: @skills %>';
      map.style.display = "none";
      }

    const showMap = (event) => {
      map.style.display = "block";
      }

      listToggle.addEventListener("click", renderList);
      mapToggle.addEventListener("click", showMap);




  </script>
<% end %>


<!--




<!

    // THIS ISN'T WORKING YET..content doesn't stay because form is being submitted

    // const searchSubmit = document.getElementById('search');
    // const skillInput = document.getElementById('skill').value;
    // const locationInput = document.getElementById('location').value;

    // const showSearchMessage = (event) => {
    //    document.getElementById("search-result-message").innerHTML = '<p>Hello</p>';
    // }

    // searchSubmit.addEventListener('click', showSearchMessage); -->


