<% content_for :meta_title, "Become a Teacher| LEALO" %>

<div class="new-skill-header">
  <h1>What can you teach?</h1>
  <h2>Advertise your skills so students can find you</h2>
</div>

<div class="new-skill-container">
<%= render 'form', skill: @skill %>

</div>
