<div class="new-skill-header">
  <h1>Share your skill</h1>
  <h2>Make a new skill so students can find you</h2>
</div>

<div class="new-skill-container">
<%= render 'form', skill: @skill %>

<%= link_to 'Back', skills_path, id: "new-skill-back"%>
</div>
