<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url('https://images.unsplash.com/photo-1503564996084-7acb58ec325c?auto=format&fit=crop&w=750&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');">
  <div class="banner-content">
    <h1>LEALO</h1>
    <p>Learn local with a neighbour</p>
    <%= link_to "Find a local teacher here", skills_path, class: "btn btn-primary" %>
    <!-- <form action="" class="form-inline">
      <input name="search" class="form-control search" placeholder="I am learning...">
      <input name="search" class="form-control search" placeholder="Where?">
     <input type="submit" value="Search" class="btn btn-primary">
     </form> -->
  </div>
</div>
