<div class="wrapper-green">
  <div class="container">
    <div class="row text-center">
      <h2 class="text-center feature-heading">How does it work?</h2>
      <div class="col-sm-12 col-lg-4">
          <div class="feature-content">
            <p class="feature-title">Search</p>
            <%= image_tag("search.png" , :class => "feature-icon") %>
            <p class="image-label">Search your area for local teachers in a specific topic.</p>
          </div>
        </div>
        <div class="col-sm-12 col-lg-4">
          <div class="feature-content">
            <p class="feature-title">Match</p>
            <%= image_tag("neighbours.png" , :class => "feature-icon") %>
            <p class="image-label">Browse their profiles and choose the best match for you.</p>
          </div>
        </div>
        <div class="col-sm-12 col-lg-4">
           <div class="feature-content">
            <p class="feature-title">Meet</p>
            <%= image_tag("message.png" , :class => "feature-icon") %>
            <p class="image-label">Get in touch to arrange your first in-person session.</p>
          </div>
        </div>
    </div>
  </div>
</div>
