<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="social-proof">
        <div class="col-sm-12 col-lg-6">
          <%= image_tag('man.jpg' , :class => "customer-quote") %>

        </div>
         <div class="col-sm-12 col-lg-6">
          <p><strong>Henry, 35, learning the trumpet</strong></p>
          <p>“I came across Lealo when I started to learn the trumpet last year. I wanted to find a teacher close by and it was the only place online I could discover teachers near me and read reviews of their teaching style.</p>

            <br>

            <p>Within a few days I had connected with Sam and now we meet up once a week for lessons and I can track all my progress in Lealo too!”</p>

        </div>
      </div>
    </div>
 </div>
</div>
