
<div class="lesson-form">
  <h5>Book a lesson</h5>

  <form action="<%= lessons_path %>" method="post">
    <div class="form-group">
      <div class='input-group date' id="margin-bottom">
        <input name="lesson[date]" type='text' class="form-control"  placeholder="Pick a date" data-provide='datepicker' />
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
        <input name="lesson[name]" class="form-control" type="text"  value="What do you need help with?">
      </div>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <input type="hidden" name="lesson[skill_id]" value="<%= @skill.id %>">
      <input class="btn-primary" type="submit" value="Request lesson">
    </div>
  </form>
</div>
