

#lesson-date {
  font-size: 15px;
}

#lesson-name {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  color: gray;
}

.skill-show-container table td {
  padding: 10px;
}

td:first-child {
  font-weight: bold;
}
