
// ---------------------------------LAYOUT ------------------------------------------
.lesson-form {
margin-top: 50px;
}


// ---------------------------------FORM ------------------------------------------

#lesson-date {

}

#lesson-name {
margin-top: 10px;
margin-bottom: 20px;
font-size: 15px;
color: gray;
}
