
.map-preview {
  display: grid;
  grid-template-columns: 100px 100px;
  grid-template-rows: 150px;
  padding: 35px;
  font-size: 18px;
  grid-column-gap: 30px;
}


.font-small {
  font-size: 13px;
}

