.new-skill-header{
    margin: auto;
    width: 480px;
    padding: 10px;
  h2{
    font-size: 23px;
    font-family: $headers-font;
    font-weight: lighter;
  }
}

.new-skill-container{
  width: 450px;
  padding-bottom: 20px;
  margin: 0 auto;


}

.new-skill-form-inputs{
  input, textarea{
    font-family: $body-font;
    font-weight: lighter;
    font-size: 15px;
  }
  label{
  font-family: $body-font;
  font-weight: lighter;
  }
}

#new-skill-btn{
  margin-left: 133px;
}

#new-skill-back{
  color: black;
  font-family: $body-font;
  font-weight: lighter;
  margin: 175px;
}

@media screen and (max-width: 780px){
.new-skill-container {
    width: 80%;
  }

  .new-skill-header {
    width: 90%;

    h1{
      font-size: 2em;
    }

    h2 {
      font-size: 1.5em;
    }
  }

  .form-actions {
    padding: 10px;
  }

  #new-skill-btn {
    margin-left: 80px;

  }
}


